.login-register {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

// login/register modal styling
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 20% auto;
  padding: 20px;
  width: 70%;

  border-radius: 25px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: black solid 1px;
}

.modal-body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.closeBtn {
  color: grey;
}

.closeBtn:hover {
  color: black;
  cursor: pointer;
}

input {
  margin: 10px;
}

.submit-btn-div {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}

// dashboard styling
.dashboard {
  width: 100%;
  height: 150px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
}

.welcome-msg {
  padding: 10px;
  width: 100%;
  text-align: left;
}

.create-game {
  width: 100%;
  display: flex;
}

.stats {
  width: 80%;
  display: flex;
}

// login div styling
.login,
.register,
.logout {
  padding: 10px;
  color: grey;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

// welcome div styling
.welcome {
  width: 100%;
  height: 800px;
  background-color: lightcyan;
}

// gameplay div
.gameplay {
  width: 100%;
  height: 800px;
  background-color: lightcyan;
}

// section of gameplay that displays player cards
.cards-div {
  width: 100%;
  height: 300px;
  padding: 15px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 80px;
  height: 100px;
  background-color: grey;
}

// section of gameplay that displays books
.books-div {
  width: 100%;
  height: 150px;
  padding: 15px;
  background-color: white;
}

// section that displays request buttons
.request-buttons {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
}

// individual request button
.request-button {
}

// section that displays messages and pond
.msg-display {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.msg-bubble {
  border: 2px solid black;
}
